<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block title %}
new post..!
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <span style="border-bottom:1px solid black">note:take slug smae as title [instead of space take as - ] ,in user field choose exactly your username!(credit :you!) </span>
    <span>choose image to display on video.!</span>
    <h1 style="color:#3b5998;"><small><i>create post!</i></small></h1>
    <form enctype="multipart/form-data" method="post">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" name="" value="post" class="btn btn-success btn-sm">

    </form>

  </div>

</div>
{% endblock %}
